* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  .main-headert{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding-top: 4%;
    padding-bottom: 20%;
    

}
  /* The grid: Three equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(95, 37, 37);
  }
  .column img{
    width: vw;
  }
  .containerTab {
    padding: 20px;
    color: rgba(36, 57, 82, 1);
    text-align: center;
    padding-left: 20%; 
    padding-right: 20%;
    display:none;
    background-color: rgba(208, 208, 219, 0.31);

    font-size: 2vw;
  }
  .containerTab .p {
      padding-left: 30%;
    color: rgba(36, 57, 82, 1);
    text-align: center;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the container tab */
  .closebtn {
    float: right;
    color: rgba(36, 57, 82, 1);
    font-size: 35px;
    cursor: pointer;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(46, 31, 31, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: rgb(187, 68, 68);
  }
  .column2{
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: rgba(36, 57, 82, 1);;
    font-size: 2vw;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: rgba(36, 57, 82, 1);
    font-size: 35px;
    cursor: pointer;
  }




body{
	line-height: 1.5;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.foot{
    padding-top: 20%;
}
.footer{
	background-color: rgba(90, 112, 173, 1);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:10px 10px 10px 0;
	text-align: left;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.background-img-trans{
  padding-bottom: 10%;
}
#landing-container-trans{
  padding-bottom: 10%;
}
#landing-container-trans #text{
  padding-left: 10%;
  font-weight: 100;
  font-size: 4vw;
  max-width: 1400px;
  font-weight: lighter;
  position: absolute;
  transform: translate(88%,-222%);


}